polkit.addRule(function(action, subject) {
    if (
           (action.id.indexOf("org.freedesktop.login1.halt") == 0)
        || (action.id.indexOf("org.freedesktop.login1.power-off") == 0)
        || (action.id.indexOf("org.freedesktop.login1.reboot") == 0)
        || (action.id.indexOf("org.freedesktop.login1.halt-multiple-sessions") == 0)
        || (action.id.indexOf("org.freedesktop.login1.power-off-multiple-sessions") == 0)
        || (action.id.indexOf("org.freedesktop.login1.reboot-multiple-sessions") == 0)
       ) {
	    try {
              polkit.spawn(["/usr/bin/lisslo-check-allowed",
                            subject.user]);
              return polkit.Result.YES;
            } catch (error) {
              return polkit.Result.AUTH_ADMIN;
            }
         }
});

